<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="adminHeader(currentPage)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/admin/dashboard">管理后台</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="adminNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${currentPage == 'dashboard'} ? 'active'"
                           href="/admin/dashboard">工作台</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${currentPage == 'jobFairs'} ? 'active'"
                           href="/admin/job-fairs">招聘会管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${currentPage == 'registrations'} ? 'active'"
                           href="/admin/registrations">报名审核</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/fairs">前台首页</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/logout">退出</a></li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
</html>
