<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header(currentPage)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/fairs">校园招聘会</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${currentPage == 'fairs'} ? 'active'"
                           href="/fairs">学生浏览</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${currentPage == 'register'} ? 'active'"
                           href="/company/register">企业报名</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/login">管理员入口</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
</html>
